/* fun fonts time!

font-family: 'Noto Serif JP', serif;
font-family: 'Kosugi Maru', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Zen Maru Gothic', sans-serif;
font-family: 'Reggae One', cursive;
font-family: 'RocknRoll One', sans-serif;
font-family: 'Yuji Boku', serif;
*/

.noto-serif-jp {
  font-family: 'Noto Serif JP', serif;
}

.kosugi-maru {
  font-family: 'Kosugi Maru', sans-serif;
}

.rampart-one {
  font-family: 'Rampart One', cursive;
}

.zen-maru-gothic {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.reggae-one {
  font-family: 'Reggae One', cursive;
}

.rocknroll-one {
  font-family: 'RocknRoll One', sans-serif;
}

.yuki-boku {
  font-family: 'Yuji Boku', serif;
}



.box, .display-box, #word-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
  border-radius: 7px;

  text-align: center;
  background-color: white;
}

#word-info {
  align-items: center;
}

#word-info button {
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  background-color: lavenderblush;
}

p {
  font-size: 28pt;
}

form > div > p {
  font-size: 12pt;
}

body {
  text-align: center;
}

h1 {
  display: block;
  color:rgb(23, 77, 148);
  margin-bottom: 30px;
}

h1 span {
  font-size: 48pt;
  font-weight: bold;
}

#word-addition-parent {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#word-info {
  width: 70%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  justify-content: space-evenly;

}


#word-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input {
  margin: 10px;
}

.radical, .radical-text {
  color: darkorchid;
}

.vocabulary, .vocabulary-text{
  color: teal;
}

.kanji, .kanji-text {
  color: lightcoral;
}

#known-words{
  color: darkorange;
}

.kanji {
  border: solid lightcoral 5px;
}

.radical {
  border: solid darkorchid 5px;
}

.vocabulary {
  border: solid teal 5px;
}

.hidden {
  display: none !important;
}

.furigana {
  font-size: 12pt;
}

.inline-vocabulary {
  display: inline;
  flex-direction: column;
  justify-items: center;
}

#sentence {
  display: flex;
}

.vocabulary-clickable:hover, .kanji-clickable:hover, .radical-clickable:hover {
  cursor: pointer;
  filter: brightness(75%);
  font-weight: bold;
}

/* new stuff?? */
.main-box {
  display: flex;
  width: 50%;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.column {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 65px;
}

.mora {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.on {
  background-color: teal;
}

.mySVG{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
}

.line {
  stroke-width: 10px;
  stroke: teal;
  z-index: -1;
}

.end {
  background-color: white;
  width: 30px;
  height: 30px;
  border: 10px teal solid;

}